parserOptions:
  sourceType: module
rules:
  strict:
    - 1
  indent:
    - 2
    - 4
    - SwitchCase: 1
  semi:
    - error
    - always
env:
  es6: true
  node: true
extends: 'eslint:recommended'
